[Unit]
Description=Horizon Background Process
After=network.target

[Service]
User=octane
ExecStart=/usr/local/bin/php /var/www/html/artisan horizon
Restart=always

[Install]
WantedBy=multi-user.target
